/configstore
/fish/completions
/fish/conf.d
/fish/fish_variables
/fish/functions
/flutter/tool_state
/flutter/custom_devices.json
/gcloud
/gtk-2.0
/karabiner/automatic_backups
/gh/hosts.yml
/raycast/extensions
/yarn
/op
